// $colorText: #635e98;
@use '../../styles/theme';

header {
    display: flex;
    align-items: center;
    font-size: 40px;
    h1 {
        font-size: 40px;
        margin: 0;
        color: theme.$textColor;
    }
}
