.App {
    background-color: #171430;
    min-width: 100%;
    min-height: 100vh;
}
@font-face {
    font-family: "ProductSans";
    src: url("../font/ProductSans-Regular.eot") format("eot");
    src: url("../font/ProductSans-Regular.woff") format("woff");
    src: url("../font/ProductSans-Regular.woff2") format("woff2");
}

.container {
    max-width: 1920px;
    margin: auto auto;
}
